<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %> | API Hockeyreferre</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
    
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        .flex {
            display: flex;
        }
        .item {
            width: 20%;
        }
		a {
			color: black;
			text-decoration: none;
		}
    </style>
</head>
<body>
    <h2><%= name %> - Spielerliste</h2>
    <button><a href="/api">Startseite</a></button>
	<button><a href="/api/createPlayer/<%= name %>">Neuen Spieler erstellen</a></button>
    <table>
		<tr>
		<th>ID</th>
		<th>Nummer</th>
		<th>Name</th>
		<th>Image-URL</th>
		</tr>
		<% data.forEach(element => { %>
			<tr>
                <form action="/api/updatePlayer/<%= element.id %>" method="post">
                    <td><%= element.id %></td>
                    <td><input type="number" name="jersey" id="jersey" value="<%= element.jersey %>"></td>
                    <td><%= element.fullname %></td>
                    <td><%= element.image %></td>
                    <td><button type="submit">Update</button></td>
                </form>
			</tr>
		<% }) %>
</table>
</body>
</html>